
    <div class="panel-header">
        <div class="date">
            Wednesday, 08 Act 2020 | 4:30PM
        </div>
        <div class="location">
            <a routerLink="search">Košice Slovakia</a> <img src="assets/img/map-marker-blue.png" alt="Map marker - Location">
        </div>
    </div>

    <div class="panel-content">
        <div class="panel-row actual">
            <div class="weather">
                <i class="wi wi-day-sunny"></i> 
                <h1>Sunny</h1>
            </div>
            <div class="temperature">
                33°C
            </div>
            <div class="day-night-temperature">
                <span>35°C ↑</span>
                <span>27°C ↓</span>
            </div>
        </div>
        <div class="panel-row meta-meteo">
            <div class="humidity">
                <i class="wi wi-humidity"></i>
                <span class="value">49%</span>
                <span class="meta-title">Humidity</span>
            </div>
            <div class="pressure">
                <i class="wi wi-barometer"></i>
                <span class="value">1,007mBar</span>
                <span class="meta-title">Pressure</span>
            </div>
            <div class="wind">
                <i class="wi wi-strong-wind"></i>
                <span class="value">23 km/h</span>
                <span class="meta-title">Wind</span>
            </div>
        </div>
        <div class="panel-row meta-time">
            <div class="sunrise">
                <i class="wi wi-sunrise"></i>
                <span class="value">6:03 AM</span>
                <span class="meta-title">Sunrise</span>
            </div>
            <div class="sunset">
                <i class="wi wi-sunset"></i>
                <span class="value">7:05 PM</span>
                <span class="meta-title">Sunset</span>
            </div>
            <div class="daytime">
                <i class="wi wi-time-5"></i>
                <span class="value">13h 1m</span>
                <span class="meta-title">Daytime</span>
            </div>
        </div>
        <div class="panel-row forecast">
            <div>
                <i class="wi wi-day-sunny"></i>
                <span class="value">Thu, 09</span>
                <span class="meta-title">35°C ↑ 20°C ↓</span>
            </div>
            <div>
                <i class="wi wi-cloudy"></i>
                <span class="value">Fri, 10</span>
                <span class="meta-title">35°C ↑ 27°C ↓</span>
            </div>
            <div>
                <i class="wi wi-windy"></i>
                <span class="value">Sat- 11</span>
                <span class="meta-title">34°C ↑ 29°C ↓</span>
            </div>
        </div>
    
    </div>