h1 {
    font: {
        weight: 500;
        size: 16px;
        style: normal;
    }
    color: #999;
    margin-bottom: 27px;
}

.search-form {
    position: relative;
    // css form input - search
    input {
        width: 335px;
        margin: 0 auto;
        padding: 9px 15px;
        border: none;
        border-radius: 4px;
        background: #F3F3F3 url("../../../assets/img/search-icon.png") no-repeat 95% 50%;
        background-size: 16px;
        &::placeholder {
            font: {
                weight: 500;
                style: italic;
                size: 18px;
            }
            line-height: 22px;
            letter-spacing: -0.05em;
            color: #9F9F9F;
            
        }
    }
}
